[Desktop Entry]
Name=Diamond
Comment=Diamond for aurorae

X-KDE-PluginInfo-Author=Mike
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=Diamond
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
